<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="stylesheet" href="styles/plugins.min.css">
	<link rel="stylesheet" href="styles/app.min.css">-->
</head>
<body>
<div class="maincontainer">
	<!--(bake widgets/top-center-widget.template.html)-->
	<!--(bake widgets/top-left-widget.template.html)-->
	<!--(bake widgets/top-right-widget.template.html)-->
	<!--(bake widgets/bottom-center-widget.template.html)-->
	<!--(bake widgets/bottom-left-widget.template.html)-->
	<!--(bake widgets/bottom-right-widget.template.html)-->
	<!--(bake widgets/container.template.html)-->
</div>
<!--<script type="text/javascript" src="scripts/plugins.min.js"></script>
<script type="text/javascript" src="scripts/app.min.js"></script>-->
<!--(bake widgets/debugscript.template.html)-->
</body>
</html>