<script type="text/javascript">
	(function(window, document) {
		var debugMode = 'debug', decacheMode = 'decache', body = document.body || document.getElementsByTagName('body')[0], head = document.getElementsByTagName('head')[0], scriptTagName = 'script', /*scriptType = 'text/javascript', */linkTagName = 'link', /*linkType = 'text/css', */linkRelation = 'stylesheet', scriptSrc = 'src', linkHref = 'href', stylesPrefix = 'styles/', scriptsPrefix = 'scripts/', pluginsFileName = 'plugins', appFileName = 'app', cssExt = '.css', jsExt = '.js', minInfix = '.min', stringifiedBoolean = 'true', isDebugMode, isDecacheMode, decacheSuffix, queryStrings, createElement, appendChildren, getQueryStrings;
		createElement = function(tagName, path) {
			var isScriptTAG = false, element;
			if (tagName === scriptTagName || tagName === linkTagName) {
				isScriptTAG = (tagName === scriptTagName);
				element = document.createElement(tagName);
				//			element.type = isScriptTAG ? scriptType : linkType;
				if (!isScriptTAG) { element.rel = linkRelation; }
				element[isScriptTAG ? scriptSrc : linkHref] = path;
				return element;
			} else {
				console.log('method [createElement] only creates [script] or [link] element, for now.');
				return null;
			}
		};
		appendChildren = function(targetElement, elementsToAppend) {
			for (var i = 0, length = elementsToAppend.length; i < length; i++) {targetElement.appendChild(elementsToAppend[i]);}
		};
		getQueryStrings = function() {
			var queryStringCollection = [], requestURL = window.location.search.toString(), keyValuePairs, keyValuePair;
			if (requestURL !== '') {
				requestURL = requestURL.substring(1).toLowerCase();
				keyValuePairs = requestURL.split('&');
				for (var i = 0, length = keyValuePairs.length; i < length; i++) {
					keyValuePair = keyValuePairs[i].split('=');
					queryStringCollection[keyValuePair[0]] = keyValuePair[1];
				}
			}
			return queryStringCollection;
		};
		queryStrings = getQueryStrings();
		isDebugMode = !!((debugMode in queryStrings && queryStrings[debugMode] !== undefined && queryStrings[debugMode].toLowerCase() === stringifiedBoolean));
		isDecacheMode = !!((decacheMode in queryStrings && queryStrings[decacheMode] !== undefined));
		minInfix = (isDebugMode ? '' : minInfix);
		decacheSuffix = (isDecacheMode ? '?' + decacheMode + '=' + queryStrings[decacheMode] : '');
		cssExt = minInfix + cssExt + decacheSuffix;
		jsExt = minInfix + jsExt + decacheSuffix;
		appendChildren(head, [createElement(linkTagName, stylesPrefix + pluginsFileName + cssExt), createElement(linkTagName, stylesPrefix + appFileName + cssExt)]);
		appendChildren(body, [createElement(scriptTagName, scriptsPrefix + pluginsFileName + jsExt), createElement(scriptTagName, scriptsPrefix + appFileName + jsExt)]);
	})(window, document);
</script>